* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #C5979D;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header {
    display: flex;
    background-color: #2C365E;
    width: 100%;
    justify-content: center;
    gap: 0 25px ;
    padding: 50px 0 0 0;
    align-items: flex-end;
}

.btn {
    border-radius: 15px 15px 0 0;
    background-color: #4B8F8C;
    padding: 50px;
    color: #2C365E;
}

.active {
    background-color: #2d5755;
    color: #7887c4;
}

.page-container {
    width: 500px;
    height: 700px;
    background-color: #2B193D;
}

.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px;
}

.contact-info {
    border: solid 1px white;
    padding: 50px;
    border-radius: 12px;
}